{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "debug",
            "type": "cppdbg",
            "request": "launch",
            "program": "/home/tang/NanoInfer/build/test/test_llm",
            "args": [
                "/home/tang/NanoInfer/models/stories110M.bin",
                "/home/tang/NanoInfer/models/tokenizer.model"
             ], // 可执行文件的命令行参数，如需要可添加
            "stopAtEntry": false, // 是否在main函数入口暂停
            "cwd": "/home/tang/NanoInfer", // 工作目录，根据需要调整
            "environment": [], // 环境变量，例如 [{"name": "LD_LIBRARY_PATH", "value": "/usr/local/lib"}]
            "MIMode": "gdb",
            "setupCommands": [
                {
                    "description": "为 SIGINT 等信号启用整齐打印",
                    "text": "-enable-pretty-printing",
                    "ignoreFailures": true
                },
                {
                    "description": "将反汇编风格设为 Intel",
                    "text": "set disassembly-flavor intel",
                    "ignoreFailures": true
                }
            ],
            "miDebuggerPath": "/usr/bin/gdb" 
        }
    ]
}